a:hover {
	color: #fcba03;
	transition: 0.3s;
}
  
a {
	color: #6A6AAD;
	transition: 0.3s;
	text-decoration: none;
}
  
body {
	color: #E6E6FF;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #1b1b24;
}

.sidebar {
	float: left;
	width: 175px;
	height: 300px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 5px;
	border: #E6E6FF solid 1px;
}